/**
 * A simple template.
 * @param {string} gender
 */
{template test.templates.ElseIf}
{if $gender == 'm'}
	You are boy.
{elseif $gender == 'f'}
	You are girl.
{else}
	You know nothing.
{/if}
{/template}
