/**
 * A msg command template.
 * @param {string} name
 * @param {int} age
 */
{template test.templates.MsgCommand}
{msg meaning="intro" desc="Introduction"}I am {print $name}, {print $age} years old. Check out my <a href="#">profile</a> and <a href="http://example.org">website</a>.<br>What's your name?{/msg}
{/template}
